#!/usr/bin/env bash
# ^ for code highlighting
set -euo pipefail

source_url "https://github.com/cachix/devenv/raw/refs/heads/main/devenv/direnvrc" "sha256-SedUl6058dnxQASrSeERFCrNESprWThYgZhQ2j4mWss="

use devenv
