.dolt
.doltcfg
.sqlhistory

.idea
.DS_Store
resources/
zig-cache/
.zig-cache/
zig-out/
__pycache__

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# nix
result

# pre-commit
.pre-commit-config.yaml

# Rust
target

# zine
public
site/assets/js/datastar.js

.env
config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
