.dolt
.sqlhistory

.idea
.DS_Store
resources/
zig-cache/
.zig-cache/
zig-out/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# nix
result

# pre-commit
.pre-commit-config.yaml

# Rust
target

# zine
public

.env