body {
    #home-link {
        font-size: 1.2rem;
        font-family: 'Pacifico', sans-serif;
        min-width: max-content;
        width: 100%;
        white-space: nowrap;
    }
    h1.title {
        font-family: 'Pacifico', sans-serif;
    }
    font-family: 'Comfortaa', serif;
    #content {
        max-width: 130ch;
    }
    * {
        border-radius: 0.75rem;
    }

    a.card {
        text-decoration: none;
    }
    a.card:hover {
        text-decoration: underline;
    }

    .subtitle,
    .tagline {
        margin-top: 0;
    }

    .tagline {
        font-family: 'Itim', sans-serif;
        font-size: 1rem;
        padding: 2px 5px;
        justify-self: center;
        border-radius: 0;
        border-top: 1px solid var(--color-base-content);
        border-bottom: 1px solid var(--color-base-content);
        text-align: center;
    }

}

