body {
    #home-link {
        font-size: 1.2rem;
        font-family: 'Pacifico', sans-serif;
        min-width: max-content;
        width: 100%;
        white-space: nowrap;
    }
    h1.title {
        font-family: 'Pacifico', sans-serif;
    }
    font-family: 'Comfortaa', serif;
    #content {
        max-width: 130ch;
    }
    * {
        border-radius: 0.75rem;
    }

    a.card:hover {
        text-decoration: none;
    }
}

html { font-size: 18px; }
