FISHYSTUFF_DATABASE_URL=mysql://root@127.0.0.1:{{ .dolt_port }}/{{ .dolt_database_name }}
FISHYSTUFF_CORS_ALLOWED_ORIGINS={{ .site_base_url }}
FISHYSTUFF_PUBLIC_SITE_BASE_URL={{ .site_base_url }}
FISHYSTUFF_PUBLIC_CDN_BASE_URL={{ .cdn_base_url }}
FISHYSTUFF_RUNTIME_CDN_BASE_URL={{ .cdn_base_url }}
FISHYSTUFF_DEPLOYMENT_ENVIRONMENT={{ .deployment_environment }}
FISHYSTUFF_OTEL_ENABLED=true
FISHYSTUFF_OTEL_SERVICE_NAME=fishystuff-api
FISHYSTUFF_OTEL_DEPLOYMENT_ENVIRONMENT={{ .deployment_environment }}
FISHYSTUFF_OTEL_TRACES_ENDPOINT={{ .telemetry_traces_endpoint }}
FISHYSTUFF_OTEL_SAMPLE_RATIO=1
