*
!.gitignore
!README.md
!cdn/
!cdn/.gitignore
!cdn/README.md
!cdn/public/
!cdn/public/.gitkeep
!cdn/public/images/
!cdn/public/images/.gitkeep
!landmarks/
!landmarks/*.csv
!spec/
!spec/*.md
!spec/worklog/
!spec/worklog/*.md
